<!DOCTYPE html>
<html lang="en">
<head>
    <title>ExamShield.ai</title>
    <link rel="canonical" href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='assets/img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"  href="{{ url_for('static', filename='assets/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/img/favicon/site.webmanifest') }}">
    <link rel="mask-icon" color="#ffffff"  href="{{ url_for('static', filename='assets/img/favicon/safari-pinned-tab.svg') }}">
    
    <!-- Fontawesome -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/@fortawesome/fontawesome-free/css/all.min.css') }}">
    
    <!-- Volt CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='volt/css/volt.css') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    
    <!--Lottie Js-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


    {% block head %}{% endblock %}

  </head>

  <body>

      <div id="snackbar">Don't try to open new window or any other applications. We are Monitoring you!</div>
      
      {% block body %}{% endblock %}

<script async defer src="https://buttons.github.io/buttons.js"></script>
 <!-- Core -->
    <!-- <script src="{{ url_for('static', filename='vendor/@popperjs/core/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script> -->
    
    <!-- Vendor JS -->
    <!-- <script src="{{ url_for('static', filename='vendor/onscreen/dist/on-screen.umd.min.js') }}"></script> -->
    
    <!-- Slider -->
    <!-- <script src="{{ url_for('static', filename='vendor/nouislider/distribute/nouislider.min.js') }}"></script> -->
    
    <!-- Smooth scroll -->
    <!-- <script src="{{ url_for('static', filename='vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js') }}"></script> -->
    
    <!-- Charts -->
    <!-- <script src="{{ url_for('static', filename='vendor/chartist/dist/chartist.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js') }}"></script> -->
    
    <!-- Datepicker -->
    <!-- <script src="{{ url_for('static', filename='vendor/vanillajs-datepicker/dist/js/datepicker.min.js') }}"></script> -->
    
    <!-- Sweet Alerts 2 -->
    <!-- <script src="{{ url_for('static', filename='vendor/sweetalert2/dist/sweetalert2.all.min.js') }}"></script> -->
    
    <!-- Moment JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script> -->
    
    <!-- Vanilla JS Datepicker -->
    <!-- <script src="{{ url_for('static', filename='vendor/vanillajs-datepicker/dist/js/datepicker.min.js') }}"></script> -->
    
    <!-- Notyf -->
    <!-- <script src="{{ url_for('static', filename='vendor/notyf/notyf.min.js') }}"></script> -->
    
    <!-- Simplebar -->
    <!-- <script src="{{ url_for('static', filename='vendor/simplebar/dist/simplebar.min.js') }}"></script> -->
    
    <!-- Github buttons -->
    <!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
    
    <!-- Volt JS -->
    <!-- <script src="{{ url_for('static', filename='volt/css/assets/js/volt.js') }}"></script> -->


<!-- Core -->
<script src="{{ url_for('static', filename='vendor/popper.js/dist/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/headroom.js/dist/headroom.min.js') }}"></script>

<!-- Vendor JS -->
<script src="{{ url_for('static', filename='vendor/onscreen/dist/on-screen.umd.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/nouislider/distribute/nouislider.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/waypoints/lib/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jarallax/dist/jarallax.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery.counterup/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-countdown/dist/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='vendor/prismjs/prism.js') }}"></script> -->

<!-- pixel JS -->
<!-- <script src="{{ url_for('static', filename='assets/js/pixel.js') }}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>